#task7 {
    color: green;
}

#task8-1 {
    color: red;
}
#task8-2 {
    color: green;
}
#task8-3 {
    color: blue;
}
#task8-4 {
    color: violet;
}
#task8-5 {
    color: darkcyan;
}
#task8-6 {
    color: darkkhaki;
}
#task8-7 {
    color: darkgoldenrod ;
}
#task8-8 {
    color: gold;
}
#task8-9 {
    color: greenyellow;
}
#task8-10 {
    color: salmon;
}
#task9 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#task10-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#task10-2 {
    font-family: 'Courier New', Courier, monospace
}
#task10-3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#task10-4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#task10-5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
