#h1-1 {
    text-align: center;
    color: black;
}
#divv {
    text-align: center;
    width:50%;
    height:auto;
    background-color: lightgray ;
    margin: auto;
    border-radius: 5px;
}
#text {
    text-align: center;
}
#name {
    margin-bottom: 15px;
}
