@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

main, html {
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: #deecec;
}
#carousel {
    width: 100%;
}
.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.head {
    font-family: "oswald";
    font-size: 72px;
    line-height: 107px;
    align-items: flex-end;
    letter-spacing: 4.608px;
    color: #fff;
}
.text {
    letter-spacing: 1.5px;
    color: #fff;
    font-family: "oswald";
}
.navbar {
    background: none;
    margin-top: -45%;
    margin-left: 55%;
}
.nav-text {
    font-family: "oswald";
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    letter-spacing: 1.94px;
    color: #fff;
}
.carousel-indicators [data-bs-target] {
    font-family: "oswald";
    font-size: 15px;
    height: 0px;
    color: #fff;
    text-indent: -100%;
}
.carousel-indicators .active {
    font-family: "oswald";
    font-size: 30px;
    text-indent: -100%;
    margin-top: -15px;
}
.sqr {
    width: 309px;
    height: 418px;
    left: 403px;
    top: 62px;
    background: #4caf50;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.pic1 {
    width: 400px;
    height: 411px;
    left: -212px;
    top: -19px;
}
.pic1_title {
    font-family: "oswald";
    font-size: 27px;
    width: 150px;
    height: 53px;
    left: 0px;
    top: -4px;
    font-style: normal;
    font-weight: bold;
    line-height: 80px;
    align-items: flex-end;
    letter-spacing: 2.304px;
    color: #333;
}
.pic1_title2 {
    font-family: "Open sans";
    font-size: 30px;
    width: 300px;
    height: 57px;
    left: 0px;
    top: 53px;
    font-style: normal;
    font-weight: 300;
    line-height: 57px;
    align-items: flex-end;
    letter-spacing: 2.688px;
    color: #504e4e;
}
.pic1_text {
    font-family: "Open sans";
    font-size: 15px;
    width: 281px;
    height: 75px;
    left: 30px;
    top: 0px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    align-items: center;
    letter-spacing: 1.26px;
    color: #5b5858;
}
.Question_block_text_top {
    font-family: "Oswald";
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
    letter-spacing: 2.66667px;
}
.Question_block_text_bottom_left {
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1.55556px;
    height: 19px;
    left: 312px;
    top: 181px;
    color: #373737;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.Question_block_text_bottom_right {
    font-family: "Open sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1.55556px;
    height: 19px;
    left: 404.5px;
    top: 181px;
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.bottom_block_text {
    font-family: "Oswald";
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0.832px;
    height: 17px;
    left: 0px;
    top: 59px;
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.end_text {
    font-family: "Oswald";
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.832px;
    height: 17px;
    left: 758px;
    top: 21px;
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 20px;
}
.picc1 {
    width: 590px;
    height: 411px;
    left: -212px;
    top: -19px;
    background: url(images/Bitmap.svj);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.pic1_text_top {
    font-family: "Oswald";
    font-size: 36px;
    width: 120px;
    height: 53px;
    left: 0px;
    top: -4px;
    font-style: normal;
    font-weight: bold;
    line-height: 53px;
    letter-spacing: 2.304px;
    color: #333;
}
.pic1_text_center {
    font-family: "Open sans";
    font-size: 42px;
    width: 228px;
    height: 57px;
    left: 0px;
    top: 53px;
    font-style: normal;
    font-weight: 300;
    line-height: 57px;
    letter-spacing: 2.688px;
    color: #504e4e;
    display: flex;
    align-items: flex-end;
}
.textr {
    font-family: "Oswald";
    font-size: 27px;
    font-style: normal;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: 2.304px;
    color: #333;
    height: 53px;
    left: 0px;
    top: -4px;
    align-items: flex-end;
}
#mail {
    align-self: center;
    height: 35px;
    width: 55px;
}
.navbar1 {
    background: none;
}
.nav-text1 {
    font-family: "Oswald";
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    letter-spacing: 1.94px;
    color: #000;
}
.pic1_text1 {
    font-family: "Open sans";
    font-size: 13px;
    width: 300px;
    height: 75px;
    left: 30px;
    top: 0px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    align-items: center;
    letter-spacing: 1.26px;
    color: #b4aaaa;
}
.pic1_title3 {
    font-family: "Open sans";
    font-size: 30px;
    width: 250px;
    height: 57px;
    left: 0px;
    top: 53px;
    font-style: normal;
    font-weight: 300;
    line-height: 57px;
    align-items: flex-end;
    letter-spacing: 2.688px;
    color: #504e4e;
}
.pic1_title4 {
    font-family: "Open sans";
    font-size: 30px;
    width: 350px;
    height: 57px;
    left: 0px;
    top: 53px;
    font-style: normal;
    font-weight: 300;
    line-height: 57px;
    align-items: flex-end;
    letter-spacing: 2.688px;
    color: #504e4e;
}
.pic1_title5 {
    font-family: "Open sans";
    font-size: 30px;
    width: 210px;
    height: 57px;
    left: 0px;
    top: 53px;
    font-style: normal;
    font-weight: 300;
    line-height: 57px;
    align-items: flex-end;
    letter-spacing: 2.688px;
    color: #504e4e;
}
#Team {
    background-color: #ececec;
}
.relative_box {
    width: 400px;
    font-family: "Oswald";
    position: relative;
    float: left;
}
.relative_box img {
    width: 100%;
    font-family: "Oswald";
}
.relative_box h3 {
    width: 100%;
    font-family: "Oswald";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e0e0e0;
    opacity: 75%;
    color: #fff;
    margin: 0;
}
.pic1_text2 {
    font-family: "Open sans";
    font-size: 13px;
    margin-left: 27%;
    max-width: 45%;
    text-align: center;
    left: 30px;
    top: 0px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 1.26px;
    color: #b4aaaa;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2%;
}
.text111 {
    font-family: "Oswald";
    font-size: 25px;
}
.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1%;
}
#images {
    white-space: nowrap;
}
